@import '../../App.scss';

.tweet{
    transition: .5s all;
    border: 1px solid $light-blue-color;
    padding: 10px;
    transition: .4s all;
    cursor: pointer;
    &:hover{
        background: $light-blue-color;
        transition: .4s all;
    }

    &_top{
        display: flex;
        align-items: center;
        position: relative;
        img{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            margin-right: 10px;
        }
        a{
            font-size: 13px;
            font-weight: 800;
            margin-bottom: 7px;
            color: $black-color;
        }
        p{
            font-size: 10px;
            font-weight: 500;
            color: $grey-color;
        }
        &_dot{
            position: absolute;
            right: 10px;
            top: 5px;
            width: 8px;
            height: 8px;
            transform: rotate(45deg);
            cursor: pointer;
            border-bottom: 1px solid rgb(101, 119, 134);
            border-right: 1px solid rgb(101, 119, 134);

            &:hover{
                box-shadow: rgba(41, 110, 167, 0.603) 2px 1px 15px, rgba(68, 127, 175, 0.705) 2px 2px 3px 1px;
            }
        }
        &_dop{
            visibility: hidden;
            opacity: 0;
            z-index: -1;
            position: absolute;
            right: 10px;
            top: 10px;
            min-width: 140px;
            padding: 10px;
            background-color: rgba(255,255,255,1.00);
            box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
            
           
            span{
                cursor: pointer;
                font-size: 16px;
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                &:hover{
                    color: rgb(224, 36, 94);
                }

                svg{
                    margin-right: 10px;
                    width: 20px;
                    fill: rgb(224, 36, 94);
                }
            }
            &.visible{
                visibility: visible;
                opacity: 1;
                z-index: 1;
                padding-top: 13px;
            }
        }
    }

    &_content{
        margin-top: 8px;

        p{
            font-size: 17px;
            font-weight: 500;
            word-break: break-all;
        }
        img{
            max-width: 100%;
            margin-top: 10px;
            border-radius: 10px;
            max-height: 270px;
        }
    }

    &_panel{
        display: flex;
        padding-top: 10px;
        div{
            width: 25%;
            display: flex;
            align-items: center;
            svg{
                width: 16px;
                fill: $grey-color;
                margin-right: 10px;
            }

            span{
                font-size: 15px;
                font-weight: 500;
                color: $grey-color;
            }
        }
    }
}