@import '../../App.scss';


.tweetPage{
    
    h1{
        font-size: 22px;
        padding: 10px;
    }
}

.tweet_wrap{
    // background: $light-blue-color;
    width: 100%;
    padding-bottom: 10px;
    &_post{
        padding: 10px;
        display: flex;

        img.ava{
            width: 50px;
            height: 50px;
            border-radius: 100%;
            margin-right: 10px;
        }

        div:not(.button_wrap){
            width: 100%;
        }
        form{
            width: 88%;
        }

        &_textarea{
            width: 100%;
            padding: 3px 5px;
            font-size: 19px;
            min-height: 75px;
            &::placeholder{
                font-size: 19px;
            }
        } 
        
       
    }
    &_panel{
        display: flex;
        justify-content: space-between;

        &_icons{
            display: flex;

            svg{
                width: 20px;
                fill: $blue-color;
                cursor: pointer;
                margin-right: 10px;
            }

        }

    }
}

.line{
    background-color: $light-blue-color;
    height: 10px;
}

.App.night textarea,
.App.twilight textarea{
    background-color: rgb(21, 24, 28);
    color: #ffffff;
}

.picture{
    height: 285px;
    width: 100%;
    border-radius: 10px;
    border: 0;
    margin-bottom: 10px;
}

.label{
    input{
        display: none;
    }
}
.error_tweets{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px;
    font-size: 25px;
}
.button_wrap{
    width: auto;
}