@import '../../App.scss';

.nav{
    display: flex;
    flex-direction: column;
    width: 100px;

    a{
        color: $blue-color;
        font-size: 21px;
        margin-bottom: 20px;
        transition: .1 all;
        &.active{
            color: $yellow-color;
            transition: .1 all;
        }
    }
}