$blue-color:  #1DA1F2;
$light-blue-color:  rgb(230, 236, 240);
$light-blue-color2:  #e8f0fe;
$black-color:  #14171A;
$grey-color:  #657786;
$yellow-color:  rgb(255, 173, 31);


*{
  margin: 0;
  padding: 0;
  transition: .1s all;
  outline: none;
  text-decoration: none;
  border: none;
}
.app, html{
  height: 100%;
}
body{
  height: 100%;
  font-size: 16px;
  line-height: 1.2;
   font-family: 'Muli', sans-serif; 
  // font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}
.container{
  max-width: 1050px;
  margin: 0 auto;
  width: 100%;
}
input,
textarea,
input::placeholder,
textarea::placeholder{
  font-family: 'Nunito', sans-serif;
}
.App_wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.app_content{
  width: calc(100% - 100px);
}