@import '../../App.scss';

.tweetExplore{
    padding: 5px 10px;
    border: 1px solid #d4d1d1;
    margin-bottom: -1.1px;
    width: 100%;
    &_top{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        img{
            margin-right: 20px;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            object-fit: cover;
        }
        span{
            font-size: 14px;
            font-weight: 700;
        }
        &_time{
            margin-left: 20px;
            font-size: 16px;
            color: $grey-color;
            font-weight: 400 !important;
        }
    }

    &_bot{
        font-size: 16px;
    }
}