.upl{
    text-align: left;

    h1{
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 10px;
    }

    h2{
        font-size: 16px;
        font-weight: 300;
    }

    &_inp{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;

        input{
            display: none;
        }

        img{
            width: 200px;
            height: 200px;
            cursor: pointer;
        }
        
        button{
            width: 100%;
            margin-top: 25px;
            max-width: 300px;
        }
    }
}

.App.night .upl h1,
.App.night .upl h2{
    color: black !important;
}

.App.twilight .upl h1,
.App.twilight .upl h2{
    color: black !important;
}